OOP-JAVA
1.为什么要选择Java？
这个问题在百度上或者是一些Java 相关的书藉上都有着大同小异的回答。对于这个问题，以个人之见应该要从社会需求以及Java 的特点来说明比较合理。
（1）.运用Java 写的代码跨平台性很好。
至于是什么原因使Java 语言的跨平台性好暂时不讨论，我们关心的应该是：随着科学的发展，各种移动设备不断的得到更新。
这种更新不知在数量上，设备的种类也是越来越多。那么问题就出现在这里，有什么编程语言能够兼容许多不同的设备呢（不能说全部，但至少是越多越好）？
答案就是Java 编程语言。
（2）.Java 采用的是面向对象编程（OOP）
所有的编程语言都是基于现实世界，并对现实世界进行描述和模仿。
编程语言，它归根结底还是语言。而语言的功用就是用来描述事物的。
问题也在这里出现了。既然编程语言是对现实世界的描述和模仿，那么该采用什么样的方式来描述世界更加合适呢？
与C++一样Java 采用了面向对象的思想。它将事物抽象为类，类与类之间存在着不同的属性。
它通过类之间的联系及相互作用来描述世界事物的发展。这是Java 的主要优点。
